extends layout

block content
	body
		head
			script(src=' https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
			
		h1= title
		p Welcome to #{title}
		button(id='testButton') Chat Client
		br
		a(href='/client3') Client 3
		script.
			$('#testButton').click(function(){
				var user = prompt("Please enter your name","User1");
				var message = {userName: user};
				var dataType = 'application/json';
				$.ajax({
					url: '/checkUser',
					data: message,
					type: 'POST',
					dataType: 'json',
					success: function (data) {
						console.log('Success: '+JSON.stringify(data));
						if(data.message=="user name available")
							window.open('/client1','_self');
						else
							alert('User name already taken');
					},
					error: function ( error) {
						console.log('Error: ' + JSON.stringify(error));
					},
				});
			});